//_about.scss
@use "../mixin/interpolate";

.page-about-us {
    background-color: #fff2dd;
    .site-main & {
        padding-top: 0;
    }
    .site-header {
        .site-header__logo {
            svg path {
                fill: #fff2dd;
            }
        }
        .site-header__toggle-line {
            border-color: #913412;
        }
    }

    .about-page {
        &__section--story {
            background-color: #505c44;
            padding-bottom: 0;
            .about-page__image--story {
                position: absolute;
                right: 0;
                top: 0;
            }
            .about-page__content--story {
                .container {
                    position: relative;
                }
                h1 {
                    font-family: "ps-aelynregular";
                    font-style: normal;
                    font-weight: 400;
                    color: #fec157;
                    padding-top: 18px;
                    @media (min-width: 992px) {
                        padding-bottom: 40px;
                    }
                    @include interpolate.interpolate(font-size, 576px, 36px, 992px, 48px);
                    @include interpolate.interpolate(line-height, 576px, 32px, 992px, 33px);
                }
                p {
                    font-family: caustenregular;
                    font-style: normal;
                    font-weight: 400;
                    color: #fff2dd;
                    max-width: 380px;
                    padding-bottom: 70px;
                    @include interpolate.interpolate(font-size, 576px, 16px, 992px, 24px);
                    @include interpolate.interpolate(line-height, 576px, 23px, 992px, 33px);
                }
            }
            .divider {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                bottom: -4px;
                width: 100%;
                z-index: 2;
                position: relative;
                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &__campuses {
            padding-top: 120px;
            padding-bottom: 136px;
            display: grid;
            grid-template-areas:
                "one two"
                "three two"
                "three four";
            > div {
                max-width: 352px;
                margin-inline: auto;
                &:nth-child(1) {
                    grid-area: one;
                    max-width: 412px;
                    .about-page__title--campuses {
                        font-family: caustenbold;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 64px;
                        line-height: 33px;
                        color: #913412;
                        padding-bottom: 40px;
                    }
                    .about-page__text--campuses {
                        font-family: caustenregular;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 33px;
                        color: #000000;
                        max-width: 398px;
                    }
                }
                &:nth-child(2) {
                    grid-area: two;
                    padding-top: 100px;
                }
                &:nth-child(3) {
                    padding-top: 238px;
                    grid-area: three;
                }
                &:nth-child(4) {
                    padding-top: 224px;
                    grid-area: four;
                }
            }
        }
        &__campus {
            &-content {
                max-width: 295.88px;
                margin-inline: auto;
                padding-top: 24px;
            }
            p {
                font-family: caustenregular;
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 33px;
                /* or 138% */
                text-align: center;
                color: #000000;
            }
        }
        &__detail {
            background-color: #913412;
            padding-top: 46px;
            padding-bottom: 46px;
            position: relative;

            @media (min-width: 992px) {
                padding-top: 66px;
                padding-bottom: 66px;
            }
            &-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
            }
            &-image {
                position: absolute;
                left: 0;
                bottom: 0;
            }
            &-content {
                max-width: 306px;
                @media (min-width: 992px) {
                    max-width: 324px;
                }
                p {
                    font-family: caustenregular;
                    font-style: normal;
                    font-weight: 400;
                    color: #fff2dd;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    @media (min-width: 992px) {
                        font-size: 24px;
                        line-height: 33px;
                        text-align: left;
                    }
                    strong {
                        color: #fec157;
                    }
                    + p {
                        padding-top: 28px;
                        @media (min-width: 992px) {
                            padding-top: 45px;
                        }
                    }
                }
            }
        }
        &__role-future {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 412px;
            padding-bottom: 412px;
            img{
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
            .about-page__title--roles {
                font-family: caustenbold;
                font-style: normal;
                font-weight: 700;
                text-align: center;
                color: #505c44;
                max-width: 316px;
                @include interpolate.interpolate(font-size, 576px, 32px, 992px, 64px);
                @include interpolate.interpolate(line-height, 576px, 32px, 992px, 70px);
                padding-bottom: 36px;
            }
            .about-page__content--roles {
                font-family: caustenregular;
                font-style: normal;
                font-weight: 400;
                text-align: center;
                color: #000000;
                max-width: 436px;

                @include interpolate.interpolate(font-size, 576px, 16px, 992px, 24px);
                @include interpolate.interpolate(line-height, 576px, 24px, 992px, 33px);
                strong {
                    display: block;
                    padding-top: 28px;
                    font-family: caustensemi_bold;
                    font-style: normal;
                    font-weight: 600;
                }
            }
        }
        &__classroom {
            background-color: #fec157;
            padding-bottom: 0px;
            margin-top: 116px;
            position: relative;
            .container {
                display: flex;
                gap: 16px;
                z-index: 0;
                flex-direction: column-reverse;
                position: relative;
                justify-content: center;
                align-items: center;
                padding-left: 0;
                padding-right: 0;
                @media (min-width: 992px) {
                    padding-left: 16px;
                    padding-right: 16px;
                    flex-direction: row;
                    align-items: flex-end;
                    justify-content: flex-start;
                }
                .about-page__classroom-content {
                    z-index: 1;
                    max-width: 388px;
                    padding-top: 28px;
                    padding-bottom: 52px;
                    flex: 0 0 388px;
                    margin-top: -116px;
                    @media (min-width: 576px) {
                        max-width: 480px;
                    }
                    @media (min-width: 992px) {
                        margin-top: 0;
                        flex: 0 0 388px;
                        padding-top: 82px;
                        padding-bottom: 100px;
                    }

                    p {
                        font-family: caustenregular;
                        font-style: normal;
                        font-weight: 400;
                        text-align: center;
                        color: #913412;
                        @include interpolate.interpolate(font-size, 576px, 16px, 992px, 24px);
                        @include interpolate.interpolate(line-height, 576px, 24px, 992px, 33px);

                        strong {
                            padding-top: 28px;
                            display: block;
                            font-family: caustenbold;
                            font-style: normal;
                            font-weight: 700;
                            color: #505c44;
                        }
                    }
                }

                img {
                    z-index: -1;
                    object-fit: cover;
                    object-position: bottom;
                    height: auto;
                    position: relative;
                    left: 0;
                    right: 0;
                    margin-inline: auto;
                    top: -116px;
                    @include interpolate.interpolate(width, 340px, 352px, 992px, 656px);
                    @include interpolate.interpolate(height, 340px, 376px, 992px, 626px);
                }
            }
        }
        &__gallery {
            background-color: #505c44;
            padding-top: 42px;
            padding-bottom: 60px;
            @media (min-width: 992px) {
                padding-top: 72px;
                padding-bottom: 72px;
            }
        }
        &__gallery-title {
            font-family: caustenbold;
            font-style: normal;
            font-weight: 700;
            text-align: center;
            color: #fff2dd;

            padding-bottom: 33px;
            @media (min-width: 992px) {
                padding-bottom: 40px;
            }

            @include interpolate.interpolate(font-size, 576px, 32px, 992px, 64px);
            @include interpolate.interpolate(line-height, 576px, 32px, 992px, 33px);
        }
    }
}
