@font-face {
  font-family: "caustenblack";
  src: url("./fonts/causten-black-webfont.woff2") format("woff2"),
    url("./fonts/causten-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caustenblack_oblique";
  src: url("./fonts/causten-blackoblique-webfont.woff2") format("woff2"),
    url("./fonts/causten-blackoblique-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caustenbold";
  src: url("./fonts/causten-bold-webfont.woff2") format("woff2"),
    url("./fonts/causten-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caustenbold_oblique";
  src: url("./fonts/causten-boldoblique-webfont.woff2") format("woff2"),
    url("./fonts/causten-boldoblique-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caustenextra_bold";
  src: url("./fonts/causten-extrabold-webfont.woff2") format("woff2"),
    url("./fonts/causten-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caustenextra_bold_oblique";
  src: url("./fonts/causten-extraboldoblique-webfont.woff2") format("woff2"),
    url("./fonts/causten-extraboldoblique-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caustenextra_light";
  src: url("./fonts/causten-extralight-webfont.woff2") format("woff2"),
    url("./fonts/causten-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caustenextra_light_oblique";
  src: url("./fonts/causten-extralightoblique-webfont.woff2") format("woff2"),
    url("./fonts/causten-extralightoblique-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caustenlight";
  src: url("./fonts/causten-light-webfont.woff2") format("woff2"),
    url("./fonts/causten-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caustenlight_oblique";
  src: url("./fonts/causten-lightoblique-webfont.woff2") format("woff2"),
    url("./fonts/causten-lightoblique-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caustenmedium";
  src: url("./fonts/causten-medium-webfont.woff2") format("woff2"),
    url("./fonts/causten-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caustenmedium_oblique";
  src: url("./fonts/causten-mediumoblique-webfont.woff2") format("woff2"),
    url("./fonts/causten-mediumoblique-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caustenregular";
  src: url("./fonts/causten-regular-webfont.woff2") format("woff2"),
    url("./fonts/causten-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caustenregular_oblique";
  src: url("./fonts/causten-regularoblique-webfont.woff2") format("woff2"),
    url("./fonts/causten-regularoblique-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caustensemi_bold";
  src: url("./fonts/causten-semibold-webfont.woff2") format("woff2"),
    url("./fonts/causten-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caustensemi_bold_oblique";
  src: url("./fonts/causten-semiboldoblique-webfont.woff2") format("woff2"),
    url("./fonts/causten-semiboldoblique-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caustenthin";
  src: url("./fonts/causten-thin-webfont.woff2") format("woff2"),
    url("./fonts/causten-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caustenthin_oblique";
  src: url("./fonts/causten-thinoblique-webfont.woff2") format("woff2"),
    url("./fonts/causten-thinoblique-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ps-aelynregular";
  src: url("./fonts/ps-aelyn-regular-webfont.woff2") format("woff2"),
    url("./fonts/ps-aelyn-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroy-semibold";
  src: url("./fonts/gilroy-semibold-webfont.woff2") format("woff2"),
    url("./fonts/gilroy-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
